services:
  geac-postgres:
    container_name: geac-postgres
    image: postgres:18.1
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
        - "5442:5432"
    volumes:
        - postgres-data:/var/lib/postgresql
volumes:
  postgres-data:

networks:
  app-private-network:
    driver: bridge
    name: app-private-network